{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}
<div ng-controller="extintorTerceroCtrl" class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
      <header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">Extintores</span>
          <div class="mdl-layout-spacer"></div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
              <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
              <input class="mdl-textfield__input" type="text" id="search">
              <label class="mdl-textfield__label" for="search">Enter your query...</label>
            </div>
          </div>
          <!-- Area : 
          <select name="mySelect" id="mySelect"
                  ng-options="area for area in areas track by area"
                  ng-model="areaSelected" class="mdl-button mdl-button--colored">
                </select> -->
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
            <i class="material-icons">more_vert</i>
          </button>
          <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
            <li class="mdl-menu__item">About</li>
            <li class="mdl-menu__item">Contact</li>
            <li class="mdl-menu__item"><a href="{% url 'dashboard:logout' %}">Salir</a></li>
          </ul>
        </div>
      </header>
      <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
        <header class="demo-drawer-header">
          <img src="{% static "images/logosClientes/colegio.jpg"%}" class="demo-avatar">
          <div class="demo-avatar-dropdown">

            <span>{$ cliente $}</span>
            <div class="mdl-layout-spacer"></div>
            <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
              <i class="material-icons" role="presentation">arrow_drop_down</i>
              <span class="visuallyhidden">Accounts</span>
            </button>
            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
              <li class="mdl-menu__item"><i class="material-icons">edit</i>Actualizar cuenta...</li>
            </ul>
          </div>
        </header>
        <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
          <a class="mdl-navigation__link" href="{% url 'dashboard:home' %}"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>Home</a>
          <a class="mdl-navigation__link" href="{% url 'dashboard:areas' %}"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">map</i>Areas</a>
          <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">battery_full</i>Extintores</a>
          <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">report</i>Reportes</a>
          <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">forum</i>Comentarios</a>
          <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">flag</i>Avisos</a>
          <div class="mdl-layout-spacer"></div>
          <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">help_outline</i><span class="visuallyhidden">Help</span></a>
        </nav>
      </div>
      
      <main class="mdl-layout__content mdl-color--grey-100">
        
        <div class="mdl-grid demo-content">
          <div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
           
          </div>

          <!-- <div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col">
            <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
            <h3>Extintores</h3>
            </div> 
          </div> -->

          <div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col">
            <table class="mdl-data-table mdl-js-data-table mdl-cell mdl-cell--12-col">
                  <thead>
                    <tr class="mdl-color--red-50">
                      <th class="mdl-data-table__cell--non-numeric">No.</th>
                      <th class="mdl-data-table__cell--non-numeric">Tipo Extintor</th>
                      <th class="mdl-data-table__cell--non-numeric">Capacidad</th>
                      <th class="mdl-data-table__cell--non-numeric">Clasificación</th>
                      <th class="mdl-data-table__cell--non-numeric">Area</th>
                      <th class="mdl-data-table__cell--non-numeric">Ubicación</th>
                      <th>Foto</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="extintor in extintores">
                      <td class="mdl-data-table__cell--non-numeric">{$ extintor.no_control $}</td>
                      <td class="mdl-data-table__cell--non-numeric">{$ extintor.tipo_extintor $}</td>
                      <td class="mdl-data-table__cell--non-numeric">{$ extintor.capacidad $}</td>
                      <td class="mdl-data-table__cell--non-numeric">{$ extintor.clasificacion $}</td>
                      <td class="mdl-data-table__cell--non-numeric">{$ extintor.area $}</td>
                      <td class="mdl-data-table__cell--non-numeric">{$ extintor.ubicacion $}</td>
                      <td> <img src="{% static "images/logosClientes/colegio.jpg"%}" class="demo-avatar"></td>
                    </tr>
                  </tbody>
                </table>
          </div>

        </div>
      </main>
    </div>

{% endblock %}