{% extends "dashboard/base.html" %}
{% load static %}

{% block title %}
  <title>CACESI | Dashboard</title>
{% endblock %}

{% block content %}
<div ng-init="clienteid = {{user.clientes.id}}; showPage='first' "></div>
<div ng-controller="filtersCtrl" class="">
<!-- Navbar goes here -->
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper blue-grey darken-4">
        <a href="#!" class="brand-logo">CACESI</a>
        <ul class="right hide-on-med-and-down">
          <li class="littleRight"> 
            <select class="browser-default blue-grey darken-4 ownSelect" ng-options="area for area in areasTodas track by area" 
           ng-model="areaSelected">
            </select>
          </li>
          <li class="littleRight"> 
             <select name="mes" id="mes"
              ng-options="mes.name for mes in mesesFull track by mes.id"
              ng-model="mesSelected" class="browser-default blue-grey darken-4  ownSelect">
            </select>
          </li>
          <li class="littleRight">2017</li>
        </ul>
      </div>
    </nav>
  </div>
  <!-- Page Layout here -->
  <div class="row blue-grey darken-3 reset">
    <div class="col hide-on-small-only m3 l2 flow">
      <div class="section">
        <div class="row">
          <div class="col m6">
            <img class="circle responsive-img" src="{% static "images/logosClientes/colegio.jpg" %}">
          </div>
        </div>
        <div class="row">
          <div class="col l12">
            <ul id='dropdown1' class='dropdown-content blue-grey darken-4 white-text'>
              <li><a href="#!">Actualizar Cuenta</a></li>
              <li><a href="#!">Cambiar contraseña</a></li>
              <li><a href="#!">Salir</a></li>
            </ul>

            <div class=""><a class='dropdown-button' href='#' data-activates='dropdown1'> Colegio La Paz <i class="material-icons">new_releases</i></a></div>
       
          </div>   
        </div>
      </div>

      <div class="">
        <a href="" ng-click="showPage = 'first'" class="lineLink"><i class="material-icons">home</i> Home</a>
        <a href="" ng-click="showPage = 'second'" class="lineLink"><i class="material-icons">map</i> Areas</a>
        <a href="" class="lineLink"><i class="material-icons">battery_std</i>Extintores</a>
        <a href="" class="lineLink"><i class="material-icons">description</i>Reportes</a>
        <a href="" class="lineLink"><i class="material-icons">comment</i>Comentarios</a>
        <a href="" class="lineLink"><i class="material-icons">add_alert</i>Avisos</a>
        <a href="" class="lineLink"><i class="material-icons">live_help</i>Ayuda</a>
      </div>
    </div>

    <div class="col s12 m9 l10 offset-m3 offset-l2 white blue-grey-text text-darken-3 min-page ">
      <inspeccion-extintores ng-if="showPage == 'first'" area="areaSelected" mes = "mesSelected" inspecciones = "inspeccionesTodas" ></inspeccion-extintores>
      <areas-cliente ng-if="showPage == 'second'" cliente="clienteid" ></areas-cliente>
    </div>
  </div>
</div>

{% endblock %}

{% block extraJs %}
  <script type="text/javascript">

  </script>
{% endblock %}