{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>CACESI</title>
	<link rel="shortcut icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">
	<link rel="icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">
  <!-- CSS  -->
  <link href="{% static "css/min/plugin-min.css" %}" type="text/css" rel="stylesheet">
  <link href="{% static "css/min/custom-min.css" %}" type="text/css" rel="stylesheet" >
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static "css/materialize.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static "css/style.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
	<nav class="black" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="{% url 'home' %}" class="brand-logo white-text">CACESI</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#"></a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
	{% block content %} {% endblock %}
	<footer class="page-footer black">
    <div class="container">
      <div class="row">
        <div class="col l6 m6 s12">
          <h5 class="white-text">CACESI</h5>
          <p class="grey-text text-lighten-4">Somos una empresa joven dedicada a brindar capacitación, asesoría y equipamiento de seguridad, personal e industrial siendo una empresa innovadora en la región noroeste del estado de Durango.</p>


        </div>
        <div class="col l3 m3 s6">
          <h5 class="white-text">Site</h5>
          <ul>
            <li><a class="white-text" href="#!">Asesorías</a></li>
            <li><a class="white-text" href="#!">Cursos</a></li>
            <li><a class="white-text" href="#!">Productos</a></li>
            <li><a class="white-text" href="#!">Servicios</a></li>
          </ul>
        </div>
        <div class="col l3 m3 s6">
          <h5 class="white-text">Acerca de</h5>
          <ul>
            <li><a class="white-text" href="#!">Contacto</a></li>
            <li><a class="white-text" href="#!">Soporte</a></li>
            <li><a class="white-text" href="#!">Ubicacion</a></li>
            <li><a class="white-text" href="#!">Sitemap</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">@rogerortiza</a>
      </div>
    </div>
  </footer>
	  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static "js/plugin-min.js" %}"></script>
  <script src="{% static "js/custom-min.js" %}"></script>
  <script src="{% static "js/materialize.js" %}"></script>
  <script src="{% static "js/init.js" %}"></script>
	{% block extraJs %} {% endblock %}
</body>
</html>
