{% extends "base.html" %}
{% load static %}
{% block content %}
  <div class="parallax-container valign-wrapper  background-semiblack-1">
    <div class="section no-pad-bot ">
      <div class="container">
        <div class="center text_h "> 
          <img class="circle responsive-img z-depth-5" src="{% static "images/home/logo.png" %}" width="200">  
          <p></p>
           <h4 class="center header cd-headline letters type">
            <span>Somos </span> 
            <span class="cd-words-wrapper waiting">
                <b class="is-visible">Asesoría</b>
                <b>Capacitación</b>
                <b>Seguridad</b>
            </span>
        </h4> 
        </div>
        
       
      </div>
    </div>
    <div class="parallax"><img src="{% static "images/home/banner3.JPG" %}" width="1300" alt="cacesi"></div>
  </div>


  <div class="container">
    <div class="section">
<p></p>

      <!--   Icon Section   -->
      <div class="row">
        <div class="container">
        <div class="row">
      <div class="col s12 m12">
        <div class="card-panel  brown darken-4">
          <h5 class="white-text center">"Somos una empresa joven dedicada a brindar capacitación, asesoría y equipamiento de seguridad, personal e industrial siendo una empresa innovadora en la región noroeste del estado de Durango."</h5>
        </div>
      </div>
    </div>
          
        </div>

        <div class="col s12 m3">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">hearing</i></h2>
            <h5 class="center">Asesorías</h5>
            <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
            <a href="{% url 'asesorias' %}">Ver todas las asesorias</a> 
          </div>
        </div>

        <div class="col s12 m3">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Cursos</h5>

            <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
          </div>
        </div>

        <div class="col s12 m3">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">shopping_cart</i></h2>
            <h5 class="center">Productos</h5>

            <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
          </div>
        </div>
         <div class="col s12 m3">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">hearing</i></h2>
            <h5 class="center">Asesorías</h5>
            <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
            <a href="{% url 'asesorias' %}">Ver todas las asesorias</a> 
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper  background-semiblack-1">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h4 class="text_h center letters type">
            <span class="white-text text-darken-4">Ante un accidente el unico error es no estar preparado</span> 
          </h4>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="{% static "images/home/banner2.JPG" %}" width="1300" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
   <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">person_pin</i></h2>
            <h5 class="center">Nuestro Personal</h5>
            <p class="light">En CACESI contamos con personal capacitado y de larga experiencia que nos permite ayudarle a cumplir con los reglamentos y normas oficiales nacionales e internaciones, y por supuesto garantizar su seguridad.</p>
            <a href="{% url 'team' %}">Conosca al equipo</a> 
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">grade</i></h2>
            <h5 class="center">Nuestras Certificaciones</h5>
            <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">verified_user</i></h2>
            <h5 class="center">Servicios</h5>

            <p class="light">El compromiso central de CACESI es la satisfacción de las necesidades y  expectativas del cliente, ofreciendo una alta gama de productos y servicios que cubran el cumplimiento de las normas oficiales mexicana en el rubro de la seguridad industrial.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper  background-semiblack-1">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row">
          <h4 class="text_h center white-text text-darken-4">"Los desastres suelen presentarse sin aviso y rápidamente. La mejor manera de proteger el capital de su empresa es tener personal preparado para un potencial desastre."</h4>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="{% static "images/home/banner1.JPG" %}" width="1300" alt="Unsplashed background img 3"></div>
  </div>


 <div class="container">
   <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">person_pin</i></h2>
            <h5 class="center">Nuestro Personal</h5>
            <p class="light">En CACESI contamos con personal capacitado y de larga experiencia que nos permite ayudarle a cumplir con los reglamentos y normas oficiales nacionales e internaciones, y por supuesto garantizar su seguridad.</p>
            <a href="{% url 'team' %}">Concosca el equipo</a> 
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">grade</i></h2>
            <h5 class="center">Nuestras Certificaciones</h5>
            <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">verified_user</i></h2>
            <h5 class="center">Servicios</h5>

            <p class="light">El compromiso central de CACESI es la satisfacción de las necesidades y  expectativas del cliente, ofreciendo una alta gama de productos y servicios que cubran el cumplimiento de las normas oficiales mexicana en el rubro de la seguridad industrial.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="slider">
    <ul class="slides">
      <li>
        <img src="{% static 'images/home/mision.JPG' %}" width="1300"> <!-- random image -->
        <div class="caption center-align">
          <h3>Mision</h3>
          <h5 class="light grey-text text-lighten-3">Impartir y promover la formación de los trabajadores y empresas en temas de seguridad industrial y protección civil, mediante capacitaciones integrales y profesionales; garantizando la calidad de sus temas e instructores, logrando una vinculación con las autoridades que así le competan.</h5>
        </div>
      </li>
      <li>
        <img src="http://lorempixel.com/580/250/nature/2"> <!-- random image -->
        <div class="caption left-align">
          <h3>Vision</h3>
          <h5 class="light grey-text text-lighten-3">Ser la empresa capacitadora líder en la zona norte del país y estar a la vanguardia en la Capacitación y Adiestramiento, que de respuesta a la empresas en los cumplimientos que las normas y leyes exigen. </h5>
        </div>
      </li>
    </ul>
  </div>

    <div class="container">
     <div class="section">

      <div class="row">
        <div class="col s12 center">
         
          <div class="carousel">
           <h4>Empresas que confian en CACESI</h4>
            <a class="carousel-item" href="#one!"><img class="z-depth-5 circle" src="{% static "images/logosClientes/topia.jpg" %}"><div class="card-panel hoverable">Grupo Topia</div></a>
            <a class="carousel-item" href="#two!"><img class="z-depth-5 circle" src="{% static "images/logosClientes/malborohouse.jpg" %}"><div class="card-panel hoverable">Malboro House</div></a>
            <a class="carousel-item" href="#three!"><img class="z-depth-5 circle" src="{% static "images/logosClientes/colegio.jpg" %}"><div class="card-panel hoverable">Colegio La Paz</div></a>
            <a class="carousel-item" href="#four!"><img class="z-depth-5 circle" src="{% static "images/logosClientes/tarahumar.jpg" %}"><div class="card-panel hoverable">Grupo Tarahumar</div></a>
            <a class="carousel-item" href="#five!"><img class="z-depth-5 circle" src="{% static "images/logosClientes/proteccion.jpg" %}"><div class="card-panel hoverable">Proteccion Civil Dgo</div></a>
            <a class="carousel-item" href="#six!"><img class="z-depth-5 circle" src="{% static "images/logosClientes/cecati.jpg" %}" height="200"><div class="card-panel hoverable">Cecati</div></a>
            <a class="carousel-item" href="#seven!"><img class="z-depth-5 circle" src="{% static "images/logosClientes/mundofeliz.jpg" %}"  height="200" width="200"><div class="card-panel hoverable">Mundo Feliz</div></a>
          </div>
        </div>
      </div>

    </div> 
  </div>
{% endblock %}
{% block extraJs %}
  <script type="text/javascript">
     $(document).ready(function(){
        $('.carousel').carousel();
        $('.slider').slider({full_width: true, height:600});
      });

  </script>
{% endblock %}

