{% load static %}
<h3>Lista Completa de Extintores</h3>
<table class="striped">
  <thead>
    <tr>
      <th>No. Control</th>
      <th>Area</th>
      <th>Ubicación</th>
      <th>Tipo de Extintor</th>
      <th>Clasificación</th>
      <th>Capacidad</th>
      <th>Ultima Recarga</th>
      <th>Vencimiento</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="extintor in extintoresByCliente | orderBy: 'no_control'">
      <td>{$ extintor.no_control $}</td>
      <td>{$ extintor.area $}</td>
      <td>{$ extintor.ubicacion $}</td>
      <td>{$ extintor.tipo_extintor $}</td>
      <td>{$ extintor.clasificacion $}</td>
      <td>{$ extintor.capacidad $}</td>
      <td>{$ extintor.ultima_reca $}</td>
      <td>{$ extintor.vencimiento $}</td>
    </tr>
  </tbody>
</table>
