{{ form.non_field_errors }}

{% for field in form %}
	<div class="row margin" >
		<div class="input-field col s12">
			{% if field.name == 'username' %}
				<i class="mdi-social-person-outline prefix"></i>
			{% elif field.name == 'password' %}
				<i class="mdi-action-lock-outline prefix"></i>
			{% endif %}
			
			{% if field.errors %}
				{{ field.errors }}
			{% endif %}
			{{ field }}
			<label class="{% for class in field.label_clasess %} {{ class }} {% endfor %}" for="{{ field.name }}" >  {{ field.label }} </label>
		</div>
	</div>
{%  endfor %}