{{ form.non_field_errors }}

{% for field in form %}
	<div class="row margin" >
		<div class="input-field col s12">
			{% if field.name == 'username' %}
				<i class="mdi-social-person-outline prefix"></i>
			{% elif field.name == 'password' %}
				<i class="mdi-action-lock-outline prefix"></i>
			{% endif %}
			
			{% if field.errors %}
				{{ field.errors }}
			{% endif %}

			{% if field.name == 'foto_etiqueta_antes' or field.name == 'foto_etiqueta_despues' or field.name == 'foto_seguro_antes' or field.name == 'foto_seguro_despues' %}
				 <div class="file-field input-field">
		      <div class="btn">
		        <span>Foto</span>
		        {{ field }}
		      </div>
		      <div class="file-path-wrapper">
		        <input class="file-path validate" type="text">
		      </div>
		    </div>
			{% else %}
				{{ field }}
				<label class="{% for class in field.label_clasess %} {{ class }} {% endfor %}" for="{{ field.name }}" >  {{ field.label }} </label>
			{% endif %}
		</div>
	</div>
{%  endfor %}